name: CI Movie Finder

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VITE_TMDB_API_KEY: ${{ secrets.VITE_TMDB_API_KEY }}
      VITE_TMDB_BASE_URL: ${{ secrets.VITE_TMDB_BASE_URL }}
      VITE_TMDB_IMAGE_BASE_URL: ${{ secrets.VITE_TMDB_IMAGE_BASE_URL }}
      VITE_TMDB_BACKDROP_BASE_URL: ${{ secrets.VITE_TMDB_BACKDROP_BASE_URL }}
      VITE_SUPABASE_URL: ${{ secrets.VITE_SUPABASE_URL }}
      VITE_SUPABASE_ANON_KEY: ${{ secrets.VITE_SUPABASE_ANON_KEY }}

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.17.1

      - name: Set Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint check
        run: pnpm run lint

      - name: Type check
        run: pnpm run type-check

      - name: Build test
        run: pnpm run build
